gen/
bin/
bin/classes.dex
bin/resources.ap_
bin/Speelveld.apk
bin/*
bin/resources.ap_
bin/classes.dex
bin/Speelveld.apk
bin/Speelveld.apk
bin/classes.dex
bin/classes/nl/noscope/data/DatabaseOperations.class